<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
  <title>ClotheFit</title>
</head>
<body>
  <nav class="navbar">
    <a class="logo" href="/">ClotheFit</a>
    <ul class="navitems">
      <li><a class="stuff" href="/home">Home</a></li>
      <li><a class="stuff" href="/login">Login</a></li>
      <li><a class="stuff" href="/sign-up">Sign Up</a></li>
    </ul>
    <img class="menu" src="{{url_for('static', filename='hanger2.png')}}" alt="hanger2">
  </nav>
  <div class="main">
    <h1 class="h22">ClotheFit</h1>
    <h1 class="h11">ClotheFit: Your Ultimate Wardrobe Companion!</h1>
    <p style="line-height: 2;">Revolutionize your wardrobe with our platform. Store, organize, and categorize your clothes and shoes by cleanliness, type, and season. Effortlessly access your best outfits, saving valuable time. Elevate your style effortlessly!</p>
    <img class="hanger" src="{{url_for('static', filename='hanger2.png')}}" alt="hanger">
    <a class="join2" href="/home">JOIN!</a>
  </div>
  <div class="steps">
    <section class="box1">
      <h2 class="text">Unearth those Garments for the System</h2>
      <img class="hanger2" src="{{url_for('static', filename='hanger2.png')}}" alt="hanger">
    </section>
    <section class="box2">
      <h2 class="text">Systematize and Categorize into the system</h2>
      <img class="hanger2" src="{{url_for('static', filename='hanger2.png')}}" alt="hanger">
    </section>
    <section class="box3">
      <h2 class="text">Efficiency Overload: Create Stunning Outfits in a Snap!</h2>
      <img class="hanger2" src="{{url_for('static', filename='hanger2.png')}}" alt="hanger">
    </section>
  </div>
  <footer>
    <h1>ClotheFit</h1>
    <ul class="footitems">
      <li><a href="/home" class="foot" id="foot1">About Us</a></li>
      <li><a href="/login" class="foot">Contact Us</a></li>
    </ul>
  </footer>
  <div class="footer2">
    <h2>Developed By: Mohammed Murshid</h2>
  </div>
</body>
</html>