@font-face {
    font-family: 'Mont';
    src: url(../static/Mont.otf);
}
@font-face {
    font-family: 'Open';
    src: url(../static/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: #e9e9e9;
}
Header{
    Min-height: 100%;
    width: 100%;
}
header > #Content{
    text-align: left;
    margin-left: 5%;
}
header > #Content > h1{
    padding-top: 1em;
    padding-right: 1em;
    font-family: 'Mont';
    font-size: 60px;
}
header > #Content > p{
    padding-top: 1em;
    width: 50%;
    font-family: 'Open';
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
}
.hanger{
    width:40%;
    float:right;
    margin-right: 5%;
    position: absolute;
    top: 17em;
    right:5em;
}
#join2{
    margin-left: 20%;
    margin-right: 70%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 8%;
    padding-bottom: 10px;
    display:inline-block;
    height: 3em;
    width: 8ems;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Mont';
    background-color: #2f261d;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: #d9d9d9;
}
#join2:hover, #join2:focus, #join2:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media(min-width: 1000px){
    .hanger{
        width:40%;
        float:right;
        margin-right: 5%;
        position: absolute;
        top: 20em;
        right:2em;
    }
}
@media(max-width: 600px){
    header > #Content{
        margin-left: 2%;
    }
    header > #Content > h1{
        padding-top: 1em;
        padding-right: 1em;
        font-family: 'Mont';
        font-size: 40px;
    }
    header > #Content > p{
        text-align: center;
        padding-top: 1em;
        width: 80%;
        font-family: 'Open';
        font-weight: bold;
        font-size: 15px;
    }
}