@font-face {
    font-family: 'Mont';
    src: url(../static/Mont.otf);
}
@font-face {
    font-family: 'Open';
    src: url(../static/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2f261d;
    width: 100%;
}
nav{
    height: 12%;
    align-items: center;
    margin-right: 5%;
    font-family: 'Mont';
    padding-top: 20px;
    padding-bottom: 15px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #d9d9d9;
    margin-left: 5%;
    text-decoration: none;
}
.navitems{
    display:none;
    float:right;
}
.logo.active,.logo:hover{
    transition: .3s;
    text-decoration: underline;
    color: #97765d;
}
.logo:hover,.logo.active{
    border: none !important;
    color:#97765d;
}
.menu{
    width: 60px;
    float:right;
}
.main{
    text-align: center;
    padding: 10%;
    background-color: #d9d9d9;
    overflow: hidden;
}
.main > .h22{
    font-family: 'Mont';
    font-size: 40px;
    padding-bottom: 10px;
}
.main > .h11{
    display: none;
}
.main > p{
    font-family: 'Open';
    padding-bottom: 20%;
}
.hanger{
    width: 100%;
    padding-bottom: 20%;
}
.join2{
    font-size: 30px;
    font-weight: bold;
    color: #d9d9d9;
    text-decoration: none;
    padding: 5% 20% 5% 20%;
    background-color: #2f261d;
    border-radius: 5px;
    display:inline-block;
    font-family: 'Mont';
    text-transform: uppercase;
}
.join2:hover, .join2:focus, .join2:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.steps{
    width: 100%;
}
.box1{
    min-height: 400px;
    background-color: #F5F5DC;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #97765d;
}
.box2{
    min-height: 400px;
    background-color: #EFDECD;
    border-color: #97765d;
}
.box3{
    min-height: 400px;
    background-color: #FFE4C4;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #97765d;
}
.box1 > h2{
    text-align: center;
    font-family: 'Open';
    margin-top: 10%;
}
.box2 > h2{
    text-align: center;
    font-family: 'Open';
    padding-top: 10%;
}
.box3 > h2{
    text-align: center;
    font-family: 'Open';
    margin-top: 10%;
}
footer{
    text-align: center;
    padding-bottom: 5%;
    background-color: #97765d;
}
footer > h1{
    padding: 10% 10% 0 10%;
    font-family: 'Mont';
    color:#d9d9d9;
    font-size: 2.5rem;
}
footer > ul > li{
    display: inline-flex;
    font-family: 'Mont';
    margin-right: 10px;
    list-style: none;
    padding-bottom: 10px;
}
.foot{
    text-decoration: none;
    color:#d9d9d9;
    font-size: 13px;
}
.foot.active,.foot:hover{
    transition: .3s;
    text-decoration: underline;
    color: #2f261d;
}
.foot:hover,.foot.active{
    border: none !important;
    color:#2f261d;
}
#foot1{
    margin-left: 10px;
}
.footer2{
    background-color: #2f261d;
    font-size: 5px;
    padding:2% 0 2% 0;
    float:left;
    color: #d9d9d9;
    font-family: 'Mont';
    margin-left: 2px;
}
@media screen and (min-width: 1000px){
    .navitems{
        display: contents;
    }
    .steps{
        min-width: 100%;
        display: inline-flex;
        margin-left: auto;
        margin-right: none;
    }
    .box1{
        min-height: 400px;
        background-color: #F5F5DC;
        border-color: #97765d;
        border-style: solid;
    }
    .box2{
        min-height: 400px;
        background-color: #EFDECD;
        border-color: #97765d;
        border-top-style: solid;
        border-bottom-style: solid;
    }
    .box3{
        min-height: 400px;
        background-color: #FFE4C4;
        border-color: #97765d;
        border-style: solid;
    }
    .menu{
        display: none;
    }
    .main > .h22{
        display: none;
    }
    .main{
        Min-height: 100%;
        width: auto;
        text-align: left;
        padding-top: 2em;
        padding-right: 1em;
        padding-bottom: 8%;
    }
    .main > .h11{
        display:contents;
        padding-right: 1em;
        font-family: 'Mont';
        font-size: 60px;
    }
    .main > p{
        padding-top: 10px;
        padding-bottom: 0;
        width: 50%;
        font-family: 'Open';
        font-weight: bold;
        font-size: 17px;
    }
    .hanger{
        width:40%;
        float:right;
        margin-right: 5%;
        position: absolute;
        top: 17em;
        right:5em;
    }
    .join2{
        font-size: 30px;
        font-weight: bold;
        color: #d9d9d9;
        margin-left: 5%;
        text-decoration: none;
        padding: 1% 5% 1% 5%;
        background-color: #2f261d;
        border-radius: 5px;
        margin-top: 10%;
    }
    .join2:hover, .join2:focus, .join2:active{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .footer2{
        background-color: #2f261d;
        font-size: 10px;
        padding:2% 0 2% 0;
        float:left;
        color: #d9d9d9;
        font-family: 'Mont';
        margin-left: 5px;
    }
    .footer2{
        background-color: #2f261d;
        font-size: 10px;
        padding:0.5% 0 2% 0;
        float:left;
        color: #d9d9d9;
        font-family: 'Mont';
        margin-left: 2px;
    }
    nav{
        align-items: center;
        margin-right: 5%;
        font-family: 'Mont';
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .navitems{
        display: inline-flex;
        list-style: none;
        text-align: center;
        padding-top: 10px;
    }
    .stuff{
        text-decoration: none;
        color: #d9d9d9;
        margin-left: 50px;
    }
    .stuff.active,.stuff:hover{
        transition: .3s;
        text-decoration: underline;
        color: #97765d;
    }
    .stuff:hover,.stuff.active{
        border: none !important;
        color:#97765d;
    }
}